.task-item {
    width: 100%;
    margin: 8px 0 8px 0;
    -webkit-box-shadow: 0 0 7px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 7px -2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 7px -2px rgba(34, 60, 80, 0.2);
}

.item-description {
    font-size: 0.8rem;
    vertical-align: middle;
}

.add-task-field {
    width: 100%;
}